body {
    font-family: sans-serif;;
}

#static {
    background-color: rgb(203, 214, 224);
    padding: 50px 50px;
    position: static;
}

#relative1 {
    background-color: rgb(184, 204, 223);
    padding: 50px 50px;
    position: relative;
    top: 0px;
    left: 0px
}

#relative2{
    background-color: rgb(163, 194, 223);
    padding: 50px 50px;
    width: 602px;
    position: relative;
    top: -30px;
    left: 30px;
}

#relative3 {
    background-color: rgb(125, 173, 218);
    padding: 20px 50px;
    width: 700px;
    height: 350px;
    position: relative;
    top: 0px;
    left: 0px
}

#absolute {
    background-color: rgb(84, 145, 201);
    padding: 20px;
    width: 630px;
    height: 200px;
    position: absolute;
    top: 100px;
    left: 50px
}

#fixed {
    background-color: rgb(47, 136, 219);
    padding: 20px;
    width: 400px;
    position: fixed;
    right: 10px;
    bottom: 0px;
}
